{
  "env": {
    "browser": true,
    "es2020": true,
    "mocha": true,
    "node": true
  },
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "global-require": "off",
    "import/no-dynamic-require": "off"
  }
}
